body {
    background-color: #ffd29c;
}

h1 {
    background-color: #ff8c00;
    color: #FFFFFF;
    font-family: "Times New Roman", serif;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    border: 2px solid black;
}

#wrapper {
    width: 80%;
    margin: auto;
}

#storeList {
    max-height: 500px;
    max-width: 250px;
    overflow-y: scroll;
}